<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wolfcode.rbac.mapper.DepartmentMapper">
    <!--<sql id="Base_Column_List" >
        id,name,sn
    </sql>
    <include refid="Base_Column_List" />-->
    <!--新增部门-->
    <insert id="addDepartment">
        insert into department(id, name, sn)
        values (#{id}, #{name}, #{sn})
    </insert>
    <!--修改部门-->
    <update id="updateDepartmentByID">
        update department
        set name=#{name},
            sn=#{sn}
        where id = #{id}
    </update>
    <!--删除部门-->
    <delete id="deleteDepartmentById">
        delete
        from department
        where id = #{id}
    </delete>
    <!--查询所有部门-->
    <select id="selectAll" resultType="cn.wolfcode.rbac.domain.Department">
        select *
        from department
    </select>
    <!--查询一个部门-->
    <select id="selectOne" resultType="cn.wolfcode.rbac.domain.Department" >
        select *
        from department
        where id = #{id}
    </select>
</mapper>
