<component name="ArtifactManager">
  <artifact type="war" name="springmvc_homework (1):war">
    <output-path>$USER_HOME$/Desktop/709/springmvc-lrq/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>springmvc_homework (1)</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="springmvc_homework-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="springmvc_homework (1):war exploded" />
    </root>
  </artifact>
</component>